<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>パスワード変更</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
  <h2>パスワード変更</h2>

  <form th:action="@{/account/password}" th:object="${form}" method="post">
    <div>
      <label>現在のパスワード</label>
      <input type="password" th:field="*{currentPassword}">
	  <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" th:errorclass="validation-error"></div>
    </div>

    <div>
      <label>新しいパスワード</label>
      <input type="password" th:field="*{newPassword}">
      <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" th:errorclass="validation-error"></div>
    </div>

    <div>
      <label>確認用パスワード</label>
      <input type="password" th:field="*{confirmPassword}">
      <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="validation-error"></div>
    </div>

    <div>
      <button type="submit">変更する</button>
      <a th:href="@{/home}"><button type="button">キャンセル</button></a>
    </div>
  </form>
</body>
</html>
