<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Chapter20:アカウントDAOクラスをインタフェースに変更</title>
  <!--/* 外部スタイルシートの適用 */-->
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
  <h2>ホーム</h2>
  <div>
    <!--/* アカウント一覧画面に遷移 */-->
    <a th:href="@{/account/list}"><button type="button">アカウント一覧</button></a>
    <!--/* ログイン画面に戻る */-->
    <a th:href="@{/}"><button type="button">戻る</button></a>
  </div>
  <fieldset>
    <legend>ユーザー情報と日時</legend>
    <!--/* メアドを表示 */-->
<!--    <div th:object="${user}"> ${#authentication.name} はログイン済ユーザーの「username」を自動で取得-->
<p sec:authorize="isAuthenticated()">[[${#authentication.name}]]さん、いらさいませ</p>
    <!--/* 日付と時刻を表示 */-->
    <div th:object="${dateTime}">
      <p>本日は[[*{date}]]</p>
      <p>時刻は[[*{time}]]です</p>
    </div>
  </fieldset>
</body>
</html>