<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Chapter20:アカウントDAOクラスをインタフェースに変更</title>
  <!--/* 外部スタイルシートの適用 */-->
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
  <h2>ログイン</h2>
  <!-- 失敗/ログアウト完了メッセージ（/?error, /?logout で表示）Spring Securityのクエリパラメータで表示 -->
    <p class="validation-error" th:if="${param.error}">メールアドレスまたはパスワードが間違っています</p>
    <p class="info" th:if="${param.logout}">ログアウトしました</p>
  <!--/* 赤でエラーメッセージ ↑で実装 */--> 
<!--  <p class="validation-error">[[${mesg}]]</p>-->
	<form th:action="@{/login}" method="post">
	  <!-- ▼ CSRF トークン（必須） -->
	  <div><input type="text" name="username" placeholder="メールアドレス"/></div>
	  <div><input type="password" name="password" placeholder="パスワード"/></div>
	  <div><button type="submit">ログイン</button></div>
	</form>
</body>
</html>