<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Chapter20:アカウントDAOクラスをインタフェースに変更</title>
  <!--/* 外部スタイルシートの適用 */-->
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
  <h2>ログイン</h2>
  <!--/* 赤でエラーメッセージ */-->
  <p class="validation-error">[[${mesg}]]</p>
	<form th:action="@{/login}" method="post">
<!--	  <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} !=null"-->
<!--		th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"-->
<!--		>-->
<!--	  ログインエラーメッセージ-->
<!--	  </p>-->
	  <div><input type="text" name="username" placeholder="メールアドレス"/></div>
	  <div><input type="password" name="password" placeholder="パスワード"/></div>
	  <div><button type="submit">ログイン</button></div>
	</form>
	
</body>
</html>